.progress-bar-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 10px;
}

.progress-bar-fill {
    width: 0;
    height: 100%;
    background-color: #FCA504;
    border-radius: 10px;
    transition: width 5s ease; /* Adjust the duration as needed */
}


.progressbar-text {
    display: none;
    position: relative;
    float: left;
    left: -15%;
    top: -40px;
    height: 4.4vh;
    line-height: 4.4vh;
    padding-left: 1vh;
    font-size: 1.5vh;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    color: white;
    text-shadow: rgb(55 71 79) -0.1vh 0.1vh 0, rgb(55 71 79) 0.1vh 0.1vh 0, rgb(55 71 79) 0.1vh -0.1vh 0, rgb(55 71 79) -0.1vh -0.1vh 0;
    text-transform: none;
    text-decoration: none;
}


.timer {
    display: none;
    position: relative;
    float: left;
    left: 80%;
    top: -40px;
    height: 4.4vh;
    line-height: 4.4vh;
    padding-left: 1vh;
    font-size: 1.5vh;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    color: white;
    text-shadow: rgb(55 71 79) -0.1vh 0.1vh 0, rgb(55 71 79) 0.1vh 0.1vh 0, rgb(55 71 79) 0.1vh -0.1vh 0, rgb(55 71 79) -0.1vh -0.1vh 0;
    text-transform: none;
    text-decoration: none;
}
